.add-enemy{
	border-right: 2px solid #999;
}

.attack-all{
	border-bottom: 2px solid #999;
  margin: 0 0 3em 0;
}


.list-drop-item button{
  width: 104%;
  height : 40px;
}

.main-title{
  float: left;
  color: rgba(0,0,0,0.5);
  margin: 30px 0 0 80px;
}

#containers{
  width: 30%;
  height : 500px;
  overflow: scroll;
  float: left;
}

.js-container{
  width: 100%;
  padding-top: 15px;
  height : 200px;
  overflow : scroll;
}

.main-report{
  float: right;
  width : 72%;
}
